<!DOCTYPE html>
<html>
<head>
	<title> Youtube Video Download</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css.css') }}">
	<link rel="icon" href="/static/images/logo.png" type="image/x-icon" class="logo">

</head>
<body>
	
	<div class="container">
		<br>
		<br>
		<span class="text1">Download</span>
		<span class="text2">Video</span>
	</div>
	<center>
	<img src="../static/images/youtube.png" class="imgYoutube" width="300px" height="300px">
		<section>
  <form action="." method="post">
    <input type="text" name="url" class="input_text" placeholder="URL">
    		<div class="btn">
				<button type="submit">Download</button>
			</div>
  </form>
		</section>
	</center>
</body>
</html>